:root {
  --color-dark-blue: #09486e;
  --color-light-blue: #56beff;
  --color-off-black: #1b1b1b;
  --color-black: #000000;
  --color-off-white: #fffff0;
  --color-dark-gray: #2b2b2b;
  --color-grey: #3c3c3c;
  --color-light-gray: #c0c0c0;
  --color-green: #00ff00;
  --color-off-green: #00cc00;
  --color-dark-green: #090;
  --border-off-black: 0.2rem solid var(--color-off-black);
  color: var(--color-off-white);
}

a {
  text-decoration: none;
}

a:hover, a:visited {
  color: var(--color-off-white);
}

a:link {
  color: var(--color-off-white);
}

h1 {
  color: var(--color-green);
  text-align: center;
  font-size: 5rem;
}

h2 {
  color: var(--color-off-black);
  text-align: center;
  font-size: 2rem;
  background: var(--color-green);
}

h3 {
  color: var(--color-off-white);
  text-align: center;
  font-size: 1rem;
}

h4 {
  color: var(--color-off-black);
  font-size: 1rem;
  text-overflow: ellipsis;
}

p {
  margin: 0.2rem 0rem;
  color: var(--color-green);
  font-size: 0.8rem;
}

img.profile-pic {
  border: var(--border-off-black);
  width: 100px;
  height: 100px;
}

img.profile-pic-large {
  border: var(--border-off-black);
  width: 200px;
  height: 200px;
}

body {
  background-color: var(--color-dark-gray);
  background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
  height: 100vh;
  font: 1.3rem Inconsolata, monospace;
  display: flex;
  flex-direction: column;
}

textarea {
  margin: 0.5rem;
  display: block;
}

input.reply {
  margin: 0.5rem;
  display: block;
}

div {
  margin: 0.5rem;
}

div.left-header nav {
  position: relative;
  text-align: center;
}

div.right-header {
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: var(--color-dark-gray);
  border: var(--border-off-black);
}

div.right-header input {
  display: block;
  margin: 0.5rem;
}

div.right-header input[type="submit"] {
  display: inline;
}

a.header-nav {
  flex: 0, 0, auto;
  font-size: 2rem;
  color: var(--color-off-white);
  margin-left: 5em;
}

div.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.sidebar, div.content {
  background-color: var(--color-dark-gray);
  border: var(--border-off-black);
  padding: 0.5rem;
}

div.sidebar {
  width: 38%;
}

tr {
  line-height: 1.428571429;
  color: #0c0;
  background-color: var(--color-grey);
  height: 20px;
}

thead tr {
  color: var(--color-off-green);
  background-color: var(--color-off-black);
}

td {
  color: var(--color-off-green);
  padding: 0.45em;
  vertical-align: top;
  border-top: 1px solid #444;
  background-color: #3c3c3c;
  text-align: center;
  
}

div.main {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

div.content {
  flex: 1 1 85%;
}

div.content-row {
  background-color: var(--color-off-black);
  border: var(--border-off-black);
  display: flex;
  flex-direction: row;
}

div.post-title {
  flex: 1 1 15%;
}

div.post-preview {
  flex: 1 1 85%;
}

div.footer {
  color: var(--color-off-white);
}

div.nav {
  justify-content: center;
  padding-left: 1em;
}

table{
  width: 100%
}


div.label {
  margin: 0.5rem;
  text-align: center;
}

input.title {
  width: 12rem;
}

#titleText {
  color: var(--color-off-white);
  text-align: left;
  font-size: 3rem;
  background: var(--color-off-black);
}

div.right-header {
  color: #0c0;
  min-height: 20px;
  padding: 0.5em;
  background-color: var(--color-dark-gray);
  border: 1px solid #000;
}

input, textarea {
  padding: 6px 12px;
  color: var(--color-dark-green);
  background-color: #000;
  background-image: none;
  border: 1px solid #444;
  border-radius: 0;
  
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  padding: 6px 12px;
  color: var(--color-dark-green);
  background-color: #000;
  background-image: none;
  border: 1px solid #444;
  border-radius: 0;
}

#signup {
    padding: 6px 12px;
    font-size: 14px;
    color: var(--color-black);
    background-color: var(--color-green);
}

input[type = "submit"] {
  font-family: inherit;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  color: var(--color-green);
  background-color: #222;
}

::placeholder {
  color: var(--color-dark-green);
  font-family: monospace;
}

#registration-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 350px;
  height: 200px;
  align-items: center;
  align-content: space-around;
}

#userimg {
  width: 195px;
  height: 29px;
  padding: 0;
  color: var(--color-dark-green);
  background-color: #000;
  background-image: none;
  border: 1px solid #444;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#update-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 350px;
  height: 200px;
  align-items: center;
  align-content: space-around;
}

#new-thread {
  width: 300px;
}